:root {
  --max-content-width: 1400px;
  --padding-inline: 2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: wheat;
}

.container {
  width: calc(
    min(100dvw, var(--max-content-width)) - var(--padding-inline) * 2
  );
  padding-block: 1rem;

  margin-inline: auto;
}

.graph-wrapper {
  height: max(40dvh, 20rem);

  border: 1px solid black;

  width: 100%;

  padding-inline: 0.25rem;
}

#graph-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#graph-container > * {
  height: var(--_value, 0);
  width: 2%;
  position: absolute;
  bottom: 0;
  left: calc(var(--_idx, 0) * 2.5%);
  transform: translateX(50%);
  background-color: blue;

  transition: 500ms ease;

  & > .text {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 0.75rem;
  }
}

#graph-container > .tmp {
  background-color: yellow;
}

#graph-container > .swap {
  background-color: green;
}

.ctrls-container {
  margin-top: 0.5rem;

  display: flex;
  gap: 0.25rem;
  align-items: center;
}
